html{
    height: 100%;
}
.img{
	height: 100px;
	width: auto;
}

#logo{
	text-align: center;
	margin-top: 20px;
	
}
Body{
    background-color: #2F3035;
    background-image: url(background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

#menu{
	text-align: left;
	font-size: 80px;
	color: whitesmoke ;
	margin-left: 50px;
}
